.page__body {
  // Typography
  
  // p 
  font-family: "PT Sans Narrow";
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: red;

  // .page__heading-1 {

  // }
  // .page__heading-2 {

  // }

  // p {

  // }
}

.page__body--index {
  background: black url("./../img/bg-index.jpg") top center no-repeat;
  background-size: cover;
  
  // elements
  .page__title {
    @include visually-hidden;
  }

  // inner blocks
  .page-header {
    margin-bottom: 60px;
  }
  .advantages {
    margin-bottom: 70px;
  }
  .container:nth-of-type(1) {
    margin-bottom: 36px;
  }
  .page-footer {
    margin-top: 65px;
  }
}
