
@font-face {
  font-family: "PT Sans Narrow";
  font-weight: 600;
  src:
    url("./../fonts/ptsansnarrow-bold.woff2") format("woff2"),
    url("./../fonts/ptsansnarrow-bold.woff") format("woff");
}


